# Скопируй этот файл в .env и заполни значениями

BOT_TOKEN=8275482287:AAEO9YvDNd8Tc94UAthO7w8193ABog-Dc40
GEMINI_API_KEY=AQ.Ab8RN6J_BZkjjI8W5-e6BUFgvV46rngEryETviVGTrSoJIAiIw
API_ID=32146160
API_HASH=ae96a4fa8b6c045b6c79c4f5b15ceb34
